<launch>

<node
    pkg="learning_tf_homework"
    type="tf_broadcaster_node"
    name="robot_tf_broadcaster"
    required="true"
    output="screen"
/>
<node
    pkg="learning_tf_homework"
    type="tf_listener_node"
    name="robot_tf_listener"
    required="true"
    output="screen"
/>

</launch>