<launch>
  <group ns="turtlesim1">
    <include file="$(find learning_launch)/launch/two_turtlesim.launch"/>

  </group>

  <group ns="turtlesim2">
    <include file="$(find learning_launch)/launch/two_turtlesim.launch"/>
  </group>

  <node 
    pkg="rostopic" type="rostopic" name="rostopic" output="screen" required="true" 
    args="pub /turtlesim1/sim_node1/cmd_vel geometry_msgs/Twist -r 1 -- '[2.0, 0.0, 0.0]' '[0.0, 0.0, -1.8]'"
  />

  <node pkg="turtlesim" type="draw_square" name="draw_square_cmd" output="screen" required="true">
    <remap from="/turtle1/cmd_vel" to="/turtlesim2/sim_node1/cmd_vel"/>
    <remap from="/turtle1/pose" to="/turtlesim2/sim_node1/pose"/>

    <rosparam file="$(find learning_launch)/config/param.yaml" command="load"/>
  </node>


</launch>
