<launch>
  <node
      pkg="robot_voice"
      type="voice_creator"
      name="voice_creator"
      output="screen"
  />


  <node
      pkg="robot_voice"
      type="robot_controller"
      name="robot_controller"
      output="screen"
  />

  <node
      pkg="robot_voice"
      type="voice_detector"
      name="voice_detector"
      launch-prefix="bash -c 'sleep 5; $0 $@'"
      output="screen"
  />

</launch>
