<launch>

    <include file="$(find robot_hunt_maze)/launch/gmapping.launch"/>

    <!-- 运行move_base节点 -->
    <include file="$(find robot_hunt_maze)/launch/move_base.launch" />

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_hunt_maze)/rviz/navigation.rviz"/>

</launch>
